@media (max-width: 1024px) {
  body .main-content-box header .container {
    position: static;
  }
  body .main-content-box header .container .navigation {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: 0;
    transition: ease-out 0.2s;
  }
  body .main-content-box header .container .navigation.active {
    transition: ease 0.3s;
    left: 0;
  }
  body .main-content-box header .container .navigation ul {
    display: flex;
    flex-direction: column;
  }
  body .main-content-box header .container .navigation ul li {
    margin-bottom: 40px;
  }
  body .main-content-box header .container .navigation ul li a {
    font-size: 32px;
  }
  body .main-content-box header .container .navigation ul li:nth-child(5) {
    margin-bottom: unset;
  }
  body .main-content-box header .container .navigation ul li:last-child {
    display: none;
  }
  body .main-content-box header .container .navigation .close-menu-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  body .main-content-box header .container .navigation .close-menu-btn img {
    width: 32px;
    height: 52px;
    color: red;
  }
  body .main-content-box header .container .open-menu-btn {
    display: block;
  }
}
@media (max-width: 1160px) {
  body .main-content-box footer .container {
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  body .main-content-box footer .container .social {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 1024px) {
  body .main-content-box footer .container {
    font-size: 1.4rem;
    justify-content: center;
  }
  body .main-content-box footer .container img {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
  body .main-content-box footer .container .opening-hours {
    flex: 1 1 content;
  }
  body .main-content-box footer .container .social {
    flex: 1 1 47%;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  body .main-content-box footer .container .copyright {
    margin-top: 20px;
    font-size: 1.4rem;
  }
}
@media (max-width: 818px) {
  body .main-content-box footer .container {
    font-size: 1.6rem;
    text-align: center;
  }
  body .main-content-box footer .container p {
    margin-bottom: 16px;
  }
  body .main-content-box footer .container .opening-hours {
    flex: 1 1 100%;
  }
  body .main-content-box footer .container .social {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "social-media-text" "email" "icons";
    flex: 1 1 100%;
  }
  body .main-content-box footer .container .social .email {
    margin-bottom: 16px;
  }
  body .main-content-box footer .container .copyright {
    margin-top: 10px;
  }
}
@media (max-width: 548px) {
  body .main-content-box footer .container .copyright {
    display: flex;
    flex-direction: column;
  }
  body .main-content-box footer .container .copyright i {
    display: none;
  }
}
@media (max-width: 498px) {
  body .main-content-box footer .container {
    font-size: 1.4rem;
  }
}
@media (max-width: 368px) {
  body .main-content-box footer {
    padding-top: 50px;
  }
}
@media (max-width: 1160px) {
  body .main-content-box .container {
    max-width: 960px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    height: 290px;
    grid-template-rows: auto 235px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-size: 130%;
    background-position: -40px 0px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 180%;
    background-position: -200px -60px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 120%;
    background-position: -30px -30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.bf {
    background-size: 120%;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 160%;
    background-position: -65px center;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-columns: minmax(auto, 232px) minmax(auto, 292px) minmax(auto, 368px);
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-columns: minmax(auto, 365px) minmax(auto, 300px) minmax(auto, 225px);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.6rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 15px;
    height: 15px;
  }
  body .main-content-box .buffet .container .imgs-gallery .bar {
    display: none;
  }
}
@media (max-width: 1024px) {
  body .main-content-box .back-to-top-btn {
    display: none;
  }
  body .main-content-box .fixed-whatsapp-anchor {
    display: flex;
    bottom: 8px;
  }
  body .main-content-box header {
    top: -2px;
  }
  body .main-content-box header .container .navigation {
    height: 101vh;
    background-color: #333333;
    color: #dcd8d8;
  }
  body .main-content-box header .container .navigation ul a[target=_self] i {
    transform: scaleX(-1);
    margin-right: 12px;
    font-size: 28px;
  }
  body .main-content-box .container {
    max-width: 768px;
  }
  body .main-content-box section, body .main-content-box header {
    padding-inline: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery {
    margin-bottom: 88px;
  }
  body .main-content-box .buffet .container .imgs-gallery:hover .frame:not(:hover) .image:not(.frame.three .image.bf, .frame.one .image.kf) {
    filter: brightness(100%);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    height: 790px;
    grid-template-rows: auto 310px 412px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame:hover, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame:hover {
    transform: scale(1);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame:hover .image, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame:hover .image {
    transform: scale(1);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-size: 110%;
    background-position: -10px 0px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 170%;
    background-position: -250px -75px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 140%;
    background-position: -95px -85px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.bf {
    background-size: 110%;
    background-position: center -60px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 160%;
    background-position: -80px center;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-columns: minmax(auto, 290px) minmax(auto, 452px);
    grid-template-areas: "title img-2" "img-1 img-2" "img-3 img-3";
    margin-bottom: 80px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three {
    margin-top: 80px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-columns: minmax(auto, 452px) minmax(auto, 290px);
    grid-template-areas: "img-2 title" "img-2 img-3" "img-1 img-1";
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one {
    margin-top: 80px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::after {
    font-size: 1.2rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 2.2rem;
    width: 430px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 35px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 818px) {
  body .main-content-box .container {
    max-width: 640px;
  }
  body .main-content-box section, body .main-content-box header {
    padding-inline: 20px;
  }
  body .main-content-box .buffet {
    padding-block: 144px 42px;
  }
  body .main-content-box .buffet .container .imgs-gallery {
    margin-bottom: 68px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    height: 700px;
    grid-template-rows: auto 270px 380px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-size: 110%;
    background-position: -10px 0px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 160%;
    background-position: -180px -50px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 115%;
    background-position: -30px -40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.bf {
    background-size: 110%;
    background-position: center -40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 155%;
    background-position: -55px center;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-columns: minmax(auto, 270px) minmax(auto, 350px);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three {
    margin-top: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-columns: minmax(auto, 370px) minmax(auto, 260px);
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one {
    margin-top: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::after {
    font-size: 1rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 2rem;
    width: 430px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 3.3rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 680px) {
  body .main-content-box .container {
    max-width: 500px;
  }
  body .main-content-box section, body .main-content-box header {
    padding-inline: 20px;
  }
  body .main-content-box .buffet {
    padding-block: 134px 32px;
  }
  body .main-content-box .buffet .container .imgs-gallery {
    margin-bottom: 58px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    height: 580px;
    grid-template-rows: auto 220px 310px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-size: 105%;
    background-position: 0 -5px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 170%;
    background-position: -160px -25px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 125%;
    background-position: -40px -30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.bf {
    background-position: center -30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 155%;
    background-position: -55px center;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-columns: minmax(auto, 220px) minmax(auto, 270px);
    margin-bottom: 60px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three {
    margin-top: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-columns: minmax(auto, 280px) minmax(auto, 210px);
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one {
    margin-top: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::after {
    font-size: 0.8rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.8rem;
    width: 350px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 2.8rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 548px) {
  body .main-content-box .container {
    max-width: 460px;
  }
  body .main-content-box .buffet {
    padding-block: 124px 32px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    height: 530px;
    grid-template-rows: auto 200px 280px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-position: 0 0;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 180%;
    background-position: -170px -20px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 130%;
    background-position: -42px -25px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-position: -52px -15px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-columns: minmax(auto, 200px) minmax(auto, 250px);
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-columns: minmax(auto, 250px) minmax(auto, 200px);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.8rem;
    width: 350px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 2.5rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 13px;
    height: 13px;
  }
  body .main-content-box .buffet .container .delivery-btn-links {
    flex-direction: column;
    align-items: center;
  }
  body .main-content-box .buffet .container .delivery-btn-links .whatsapp-container {
    margin-right: 0;
  }
  body .main-content-box .buffet .container .delivery-btn-links .ifood-container {
    margin-top: 8px;
  }
}
@media (max-width: 498px) {
  body .main-content-box .container {
    max-width: 425px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    height: 420px;
    grid-template-rows: auto 160px 220px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-size: 110%;
    background-position: -5px 0;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 180%;
    background-position: -150px -30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 120%;
    background-position: -25px -22px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-position: -45px -25px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-columns: minmax(auto, 180px) minmax(auto, 225px);
    margin-bottom: 50px;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-columns: minmax(auto, 225px) minmax(auto, 180px);
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.6rem;
    width: 310px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 2.2rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 13px;
    height: 13px;
  }
  body .main-content-box .buffet .container .delivery-btn-links {
    flex-direction: column;
    align-items: center;
  }
  body .main-content-box .buffet .container .delivery-btn-links .whatsapp-container {
    margin-right: 0;
  }
  body .main-content-box .buffet .container .delivery-btn-links .ifood-container {
    margin-top: 8px;
  }
}
@media (max-width: 448px) {
  body .main-content-box .buffet {
    padding-block: 144px 30px;
  }
  body .main-content-box .buffet .container .imgs-gallery {
    width: 100%;
    margin-bottom: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-rows: auto 300px 240px 300px;
    grid-template-columns: 1fr;
    height: auto;
    row-gap: 30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
    background-size: 110%;
    background-position: -1vw -1vw;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 150%;
    background-position: -40vw -30px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 120%;
    background-position: -10vw 40%;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.bf {
    background-size: 110%;
    background-position: 0vw center;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 130%;
    background-position: -14vw 60%;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    grid-template-areas: "title" "img-1" "img-3" "img-2";
    margin-bottom: 55px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three {
    margin-top: 0px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::after {
    font-size: 0.8rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-areas: "title" "img-2" "img-1" "img-3";
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one {
    margin-top: 0;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::after {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    color: #e2e2e2;
    font-weight: 500;
    width: 100%;
  }
  body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one:hover::after {
    bottom: -1px;
    padding: 3px 2px 2px 2px;
    background-color: #ea1d2b;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.4rem;
    width: 290px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 3.5rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 18px;
    height: 18px;
  }
  body .main-content-box .buffet .container .delivery-btn-links {
    flex-direction: column;
    align-items: center;
  }
  body .main-content-box .buffet .container .delivery-btn-links .whatsapp-container {
    margin-right: 0;
  }
  body .main-content-box .buffet .container .delivery-btn-links .ifood-container {
    margin-top: 8px;
  }
}
@media (max-width: 375px) {
  body .main-content-box .fixed-whatsapp-anchor {
    transform: scale(0.8);
    bottom: 0;
    right: 0;
  }
  body .main-content-box .buffet {
    padding-block: 134px 30px;
  }
  body .main-content-box .buffet .container .imgs-gallery {
    margin-bottom: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-rows: auto 280px 200px 280px;
    row-gap: 25px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 150%;
    background-position: -40vw -16px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 150%;
    background-position: -22vw 70%;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    margin-bottom: 45px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.4rem;
    font-weight: 500;
    width: 270px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 3.2rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 338px) {
  body .main-content-box .fixed-whatsapp-anchor {
    transform: scale(0.8);
    bottom: 3px;
  }
  body .main-content-box .buffet {
    padding-block: 124px 35px;
  }
  body .main-content-box .buffet .container .imgs-gallery {
    margin-bottom: 45px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-rows: auto 240px 180px 240px;
    row-gap: 20px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
    background-size: 150%;
    background-position: -40vw -35px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
    background-size: 150%;
    background-position: -22vw 70%;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet {
    margin-bottom: 40px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1.2rem;
    font-weight: 500;
    width: 250px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 3rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 318px) {
  body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
    grid-template-rows: auto 200px 160px 200px;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
    background-size: 110%;
    background-position: -5vw 40%;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::after {
    font-size: 0.6rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
    font-size: 1rem;
    font-weight: 500;
    width: 200px;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
    font-size: 2.8rem;
  }
  body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
    width: 13px;
    height: 13px;
  }
}/*# sourceMappingURL=buffet-responsive.css.map */