@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$font: 'Poppins', sans-serif;

$palette-1: #ea1d2c;
$palette-2: #ffffff;
$palette-3: #ffe9ea;

$primary-text-color: #333333;
$secondary-text-color: #dcd8d8;
$notice-text-color: #acacac;

$dark-bg-1: #1c1919;
$dark-bg-2: #373737;

$container-max-width: 1100px;