body{
    
    .main-content-box{

        .delivery{
            padding-block: 70px;

            .info{
                
                .title-box{
                    margin-bottom: 42px;
                }

                .marmite-prices{
                    margin-bottom: 32px;

                    .marmite{
                        display: flex;

                        &:not(:last-of-type){
                            margin-bottom: 4px;
                        }

                        .separator{
                            margin-right: 4px;
                        }
                    }

                }
            }

            .deliveryman-img{
                    min-width: 560px;
            }
        }
    }
}