body{
    
    .main-content-box{

        .faq{
            background-color: $palette-3;
            padding-block: 60px;

            .searching-img{
                width: 460px;
            }
            
            .content-box{
                
                .title-box{
                    margin-bottom: 27px;
                }

                .accordion{
                    display: flex;
                    flex-direction: column;
                    width: 560px;

                    .line-question{
                        width: 100%;
                        padding: 18px 24px 0 24px;
                        background-color: $palette-2;
                        border-radius: 8px;
                        cursor: pointer;

                        &:not(:last-child){
                            margin-bottom: 14px;
                        }

                        &:hover .label{
                            h4{
                                color: $palette-1;
                            }
                        }

                        .label{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h4{
                                transition: ease .3s;
                                font-weight: 600;
                            }

                            .arrow-down{
                                text-align: center;
                                font-size: 1.1rem;
                                color: #a3a3a3;
                                transform: rotate(-90deg);
                                transition: ease .3s;
                            }
                        }

                        .text-content{
                            color: #3c3c3c;
                            max-height: 0;
                            overflow: hidden;
                            transition: ease .3s;
                            width: 455px;
                            margin-left: 15px;
                            padding-right: 10px;
                            opacity: 0;
                            margin-block: 10px 8px;
                        }

                        &:nth-child(3){

                            ul{
                                margin-block: 16px;
                            }

                            a{
                                display: inline-block;
                                margin-top: 16px;
                                color: $palette-1;
                                align-self: flex-start;
                                vertical-align: middle;
                                -webkit-transform: perspective(1px) translateZ(0);
                                transform: perspective(1px) translateZ(0);
                                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                                position: relative;

                                &::before{
                                    content: "";
                                    position: absolute;
                                    z-index: -1;
                                    left: 0;
                                    right: 100%;
                                    bottom: 0px;
                                    background: $palette-1;
                                    height: 1px;
                                    -webkit-transition-property: right;
                                    transition-property: right;
                                    -webkit-transition-duration: 0.2s;
                                    transition-duration: 0.1s;
                                    -webkit-transition-timing-function: ease-out;
                                    transition-timing-function: ease-out;
                                }

                                &:hover::before{
                                    right: 0;
                                }
                            }


                            &.active{

                                .text-content{
                                    overflow-y: scroll;
                                }
                            }
                        }

                        &.active{

                            .label{

                                .arrow-down{
                                    transform: rotate(0);
                                    transform: translateY(25%);
                                }

                                h4{
                                    color: $palette-1;
                                }
                            }
                        
                            .text-content{
                                opacity: 1;
                                margin-bottom: 18px;
                            }
                        }
                        
                        &:nth-child(odd).active{
                            .text-content{
                                max-height: 105px;
                            }
                        }

                        &:nth-child(even).active{
                            .text-content{
                                max-height: 21px;
                            }
                        }
                    }
                }
            }
        }
    }

}