body{

    .main-content-box{

        .imgs-panel{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: $palette-3;

            .frame{
                overflow: hidden;  

                &:hover .panel-img{
                    transform: scale(1.04);
                    transition: ease-in-out .3s;
                    filter: brightness(100%);
                }

                .panel-img{
                    transition: ease .3s;
                    filter: brightness(90%);
                    height: 100%;
                }
 
            }
        }
    }

}