body{

    .main-content-box{

        
        .imgs-panel{

            &::after{
                animation: movearrow .6s infinite alternate ease-in-out;
            }
            
            .container{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                background-color: $palette-3;
                max-width: unset;

                

                .frame{
                    height: 100%;
                    overflow: hidden;
                    scroll-snap-align: start;

                    &:hover .panel-img{
                        transform: scale(1.04);
                        filter: brightness(100%);
                    }

                    .panel-img{
                        transition: ease .3s;
                        filter: brightness(90%);
                        transform: scale(1.008);
                        height: 100%;
                    }
                }

            }
        }
    }
}