@media (max-width: 1160px){
    
    body{

        .main-content-box{

            .container{
                max-width: 960px;
            }

            .about-us{

                .container{
                    background-position-x: -50px;

                    .side-images{
                        width: 410px;
                        height: 300px;

                        img{
                            width: 247px;
                            height: 174px;
                        }
                    }
                    
                    .side-text{

                        > p{
                            width: 500px;       
                        }

                        .about-us-btn-links{
                            gap: 12px;
                        }
                    }
                    
                }
                
            }

            .delivery{

                .delivery-btn-links{

                    .whatsapp-container{
                        margin-right: 12px;
                    }
                }

                .deliveryman-img{
                    width: 460px;
                }
            }

            .faq{
                
                .searching-img{
                    width: 436px;
                }

                .content-box{

                    .accordion{
                        width: 500px;

                        .line-question{

                            .text-content{
                                width: 420px;
                                padding-right: 8px;
                            }
                        }
                    }
                }
            }

            .contact{

                .side-form{
                    
                    .form-container{
                        margin-top: 28px;
                        width: 436px;

                        .submit-container{

                            .validation-alert{
                                width: 328px;
                            }
                        }
                    }
                }

                .side-address{
                    
                    iframe{
                        width: 470px;
                        height: 350px;
                    }
                }
                
            }
        }
    }
}

@media (max-width: 1024px){
    
    body{

        .main-content-box{

            .back-to-top-btn{
                display: none;
            }

            .fixed-whatsapp-anchor{
                display: flex;
                bottom: 8px;
            }

            .title-box{
                text-align: center;

                .section-title{
                    margin-bottom: -5px;
                }

                .underline-title{
                    display: inline-block;
                }
            }
            

            .container{
                font-size: 1.6rem;

                &:not(.benefits .container, .imgs-panel .container){
                    max-width: 768px;
                
                    &:not(.contact .container, header .container, footer .container){
                        flex-direction: column
                    }
                }
            }

            section:not(.imgs-panel){
                padding-inline: 20px;
            }

            .carousel{
                height: 625px;
            }

            .benefits{   

                .container{

                    .benefit{         
                        text-align: center;

                        &.garage{
                            max-width: 140px;
                        }

                        &.dessert{
                            img{
                                margin-top: -10px;
                            }

                            p{
                                margin-top: 34px;
                            }
                        }

                        &.agreement{
                            max-width: 120px;
                        }

                        &.free-wifi{
                            max-width: 84px;
                        }

                        &.hall-rent{
                            max-width: 118px;
                        }
                    }
                }
            }

            .about-us{

                .container{
                    padding-top: 70px;
                    background: url(../../../../images/section-images/about-us/complete-s-letter-bg.png) no-repeat;
                    background-size: 410px;
                    background-position: center -10px;

                    .side-images{
                        height: 400px;
                        width: 100%;
                        margin-bottom: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        img{
                            width: 365px;
                            height: 250px;
                            top: 0;
                            bottom: 0;
                            position: static;
                        }
                    }

                    .side-text{
                        
                        > p{
                            width: 100%;
                            text-align: center;
                            margin-bottom: 30px;
                        }

                        .about-us-btn-links{
                            justify-content: center;
                            gap: 24px;

                            .primary-btn{
                                width: 198px;
                            }
                        }
                    }
                }
            }

            .imgs-panel{
                overflow: scroll;
                scroll-snap-type: x mandatory;


                &::after{
                    content: url(../../../../images/section-images/imgs-panel/arrow-right.svg);
                    position: absolute;
                    z-index: 1;
                    left: 47.5%;
                    margin-top: -50px;
                }


                .container{
                    width: 200vw;
                    
                    .frame{
                        
                        &:hover .panel-img{
                            transform: scale(1.008);
                        }

                        .panel-img{
                            filter: brightness(100%);
                        }
                    }
                }
                
            }

            .delivery{

                .container{

                    .info{
                        order: 1;

                        .title-box{
                            margin-bottom: 20px;
                        }
                        
                        .marmite-prices{

                            .marmite{
                                justify-content: center;

                                .type::after{
                                    margin-inline: 3px;
                                }
                                
                                .type.m-p::after{
                                    content: '........................................................................................................................................................';
                                }

                                .type.m::after{
                                    content: '..........................................................................................................................................................';
                                }

                                .type.g::after{
                                    content: '......................................................................................................................................................';
                                }

                                .type.kf::after{
                                    content: '..................................................................................................................................................';
                                }

                                .separator{
                                    display: none;
                                }
                            }

                        }

                        .delivery-btn-links{
                            justify-content: center;

                            .whatsapp-container{
                                margin-right: 24px;
                            }
                        }
                    }

                    .deliveryman-img{
                        width: 90%;
                        margin-bottom: 60px;
                    }
                }
            }

            .faq{

                .container{

                    .searching-img{
                        display: none;
                    }

                    .content-box{
                        width: 100%;

                        .accordion{
                            width: 100%;

                            .line-question{

                                &:hover:not(.active){
                                    h4{
                                        color: unset;
                                    }
                                }

                                .text-content{
                                    width: 95%;
                                }

                                &:nth-child(1).active{
                                    .text-content{
                                        max-height: 125px;
                                    }
                                }

                                &:nth-child(3){

                                    a{
                                        border-bottom: solid currentColor 1px;
                                        
                                        &:active{
                                            color: #bb1621;
                                        }

                                        &::before{
                                            height: 0;
                                        }
                                    }
                                    
                                    &.active{
                                        .text-content{
                                            max-height: 305px;
                                            overflow-y: hidden;
                                        }
                                    }
                                }
        
                                &:nth-child(even).active{
                                    .text-content{
                                        max-height: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .contact{

                .container{
                    font-size: 1.5rem;
                    
                    .side-form{
                        order: 1;

                        .title-box{
                            margin-top: -18px;

                            .section-title{
                                margin-bottom: -10px;
                            }
                        }

                        .form-container{
                            margin-top: 15px;
                            width: 280px;

                            .user-info-container{
                                margin-bottom: 18px;
                            }
                            
                            .submit-container{

                                button{
                                    margin-right: 0;
                                    width: 100%;
                                }

                                .validation-alert{
                                    width: 97%;
                                    padding: 12px 22px;
                                    top: 105px;
                                    position: fixed;
                                    left: -100%;
                                    z-index: 1;
                                    
                                    &.active{
                                        left: 1.5vw;
                                    }
                                
                                }
                            }
                        }
                    }
    
                    .side-address{
                        width: 450px;
                        
                        iframe{
                            width: 100%;
                            height: 332px;
                        }
                    }
                }
            }
        }
    }
}