@media (max-width: 680px){

    body{

        .main-content-box{

            .container:not(header .container, .benefits .container, .imgs-panel .container){
                max-width: 550px;

                &:not(header .container, footer .container){
                    flex-direction: column
                }
            }

            .benefits{
                overflow-x: scroll;

                .container{
                    width: 130vw;

                    .benefit{
                        transform: scale(1);
                    }
                }
            }

            .about-us{

                .container{
                    padding-top: 120px;
                    background-size: 440px;
                    background-position: center -20px;

                    .side-images{
                        width: 500px;
                        height: 330px;
                        margin-bottom: 90px;

                        img{
                            width: 292px;
                            height: 200px;   
                        }
                    }
                }
            }

            .delivery{

                .container{
                    
                    .info{

                        .marmite-prices{

                            .marmite{

                                .type.p::after{
                                    content: '.......................................................................................';
                                }

                                .type.m::after{
                                    content: '..............................................................................................';
                                }

                                .type.g::after{
                                    content: '..........................................................................................';
                                }

                                .type.kf::after{
                                    content: '.......................................................................';
                                }
                            }
                        }
                    }
                }
            }

            .contact{
                background-image: url(../../../../images/section-images/contact/responsive/r-contact-bg.png);

                .container{

                    .side-form{
                        order: unset;

                        .title-box{
                            margin-top: 0;

                            .section-title{
                                margin-bottom: -10px;
                            }
                        }

                        .form-container{
                            margin-top: 15px;
                            margin-bottom: 55px;
                            width: 100%;

                            .user-info-container{

                                textarea{
                                    height: 120px;
                                }
                            }
                            
                            .submit-container{
                                justify-content: center;

                                button{
                                    width: 170px;
                                }

                                .validation-alert{
                                    width: 97%;
                                    top: 100px;
                                }
                            }
                        }
                        
                    }

                    .side-address{
                        width: 100%;

                        iframe{
                            height: 360px;
                        }

                        p{
                            font-size: 1.6rem;
                        }
                    }
                }        
            }
        }
    }
}

@media (max-width: 548px){

    body{

        .main-content-box{

            .container:not(header .container, .benefits .container, .imgs-panel .container){
                max-width: 500px;
            }

            .carousel{
                height: 95vh;

                .carousel-img{
                    filter: brightness(90%);
        
                    &.one{
                        background-image: url(../../../../images/section-images/carousel/responsive/r-bg-1.png);
                    }
    
                    &.two{
                        background-image: url(../../../../images/section-images/carousel/responsive/r-bg-2.png);
                    }
    
                    &.three{
                        background-image: url(../../../../images/section-images/carousel/responsive/r-bg-3.png);
                    }
    
                    &.four{
                        background-image: url(../../../../images/section-images/carousel/responsive/r-bg-4.png);
                    }
                }
    
                .conversion-text{

                    .title{
                        font-size: 5.2rem;
                        margin-bottom: 16px;
                    }

                    .description{
                        font-size: 2.2rem;
                    
                    }
                }

                .indicators{

                    .indicator{
                        width: 56px;
                    }
                }
            }

            .benefits{

                .container{
                    width: 800px;
                }
            }

            .about-us{

                .container{
                    padding-top: 110px;
                    background-size: 420px;
                    background-position: center -25px;
                    
                    .side-images{
                        width: 460px;
                        height: 310px;

                        img{
                            width: 268px;
                            height: 184px;
                        }
                    }
                }
            }

            .imgs-panel{

                &::after{
                    left: 44.5%;
                }

                .container{
                    width: 400vw;    
                }
            }
            
            .delivery{

                .container{
                    
                    .info{

                        .marmite-prices{

                            .marmite{

                                .type.p::after{
                                    content: '.......................................................................';
                                }

                                .type.m::after{
                                    content: '..............................................................................';
                                }

                                .type.g::after{
                                    content: '..........................................................................';
                                }

                                .type.kf::after{
                                    content: '.......................................................';
                                }
                            }
                        }
                    }
                }
            }

            footer{

                .container{

                    .copyright{
                        display: flex;
                        flex-direction: column;

                        i{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 498px){

    body{

        .main-content-box{

            .container{
                font-size: 1.4rem;

                &:not(header .container, .benefits .container, .imgs-panel .container){
                    max-width: 425px;
                }
            }
            
            .carousel{

                .conversion-text{

                    .title{
                        font-size: 4rem;
                        margin-bottom: 16px;
                    }

                    .description{
                        font-size: 1.6rem;
                        width: 330px;
                    }
                }
            }

            .benefits{

                .container{
                    width: 800px;
                }
            }

            .about-us{

                .container{
                    padding-top: 120px;
                    background-size: 390px;
                    background-position: center -10px;

                    .side-images{
                        width: 400px;
                        height: 280px;
                        margin-bottom: 90px;

                        img{
                            width: 233px;
                            height: 160px;
                        }
                    }

                    .side-text{
                        

                        .about-us-btn-links{
                            flex-direction: column;
                            align-items: center;
                            gap: unset;
                            
                            .primary-btn.transparent{
                                width: 225px;
                                justify-content: center;
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }

            .delivery{

                .container{
                    
                    .info{

                        .delivery-btn-links{
                            flex-direction: column;
                            align-items: center;

                            .whatsapp-container{
                                margin-right: 0;
                            }

                            .ifood-container{
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }

            .faq{
                .content-box{

                    .accordion{

                        .line-question{

                            .text-content{
                                margin-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .contact{
                background-image: url(../../../../images/section-images/contact/responsive/r-contact-bg.png);

                .container{

                    .side-form{

                        .form-container{

                            .submit-container{

                                .validation-alert{
                                    width: 96%;
                                    font-size: 14px;
                                   
                                    &.active{
                                        left: 2vw;
                                    }
                                }
                            }
                        }
                    }

                    .side-address{

                        p{
                            font-size: 1.4rem;
                        }
                    }
                }        
            }
        }
    }
}

@media (max-width: 458px){

    body{

        .main-content-box{

            .title-box{

                .section-title{
                    font-size: 3.5rem;
                }

                .underline-title{
                    display: inline-block;
                }
            }

            .benefits{
                padding-block: 40px;

                .container{
                    width: 700px;
                }
            }

            .about-us{

                .container{
                    padding-top: 110px;
                    padding-bottom: 50px;
                    background-size: 340px;
                    background-position: center -15px;
                    
                    .side-images{
                        width: 320px;
                        height: 220px;

                        img{
                            width: 186px;
                            height: 128px;
                        }
                    }

                }
            }

            .delivery{
                padding-block: 60px;
                .container{
                    
                    
                    .info{

                        .marmite-prices{

                            .marmite{

                                .type.p::after{
                                    content: '..........................................................';
                                }

                                .type.m::after{
                                    content: '................................................................';
                                }

                                .type.g::after{
                                    content: '.............................................................';
                                }

                                .type.kf::after{
                                    content: '..........................................';
                                }
                            }
                        }
                    }
                }
            }

            .contact{
                background-image: url(../../../../images/section-images/contact/responsive/r-contact-bg.png);

                .container{

                    .side-form{

                        .form-container{

                            .user-info-container{

                                textarea{
                                    height: 100px;
                                }
                            }

                            .submit-container{

                                button{
                                    width: 160px;
                                }
                            }
                        }
                    }  
                    
                    .side-address{

                        iframe{
                            height: 340px;
                        }

                        p{
                            max-width: 300px;
                            margin: 0 auto;
                        }
                    }
                }        
            }
        }
    }
}