@media (max-width: 680px){

    body{

        .main-content-box{

            .container:not(header .container, .benefits .container, .imgs-panel .container){
                max-width: 550px;

                &:not(header .container, footer .container){
                    flex-direction: column
                }
            }

            .benefits{
                overflow-x: scroll;

                .container{
                    width: 130vw;

                    .benefit{
                        transform: scale(1);
                    }
                }
            }

            .about-us{

                .container{
                    padding-top: 120px;
                    background-size: 440px;
                    background-position: center -20px;

                    .side-images{
                        width: 500px;
                        height: 330px;
                        margin-bottom: 90px;

                        img{
                            width: 292px;
                            height: 200px;
                            
                            
                        }
                    }
                }
            }

            .delivery{

                .container{
                    max-width: 500px;
                    
                    .info{

                        .marmite-prices{

                            .marmite{

                                .type.p::after{
                                    content: '.......................................................................................';
                                }

                                .type.m::after{
                                    content: '..............................................................................................';
                                }

                                .type.g::after{
                                    content: '..........................................................................................';
                                }

                                .type.kf::after{
                                    content: '.......................................................................';
                                }
                            }
                        }
                    }
                }
            }

            .contact{
                background-image: url(../../../../images/section-images/contact/responsive/r-contact-bg.png);

                .container{

                    .side-form{
                        order: unset;

                        .title-box{
                            margin-top: 0;

                            .section-title{
                                margin-bottom: -10px;
                            }
                        }

                        .form-container{
                            margin-top: 15px;
                            margin-bottom: 55px;
                            width: 100%;

                            .user-info-container{

                                textarea{
                                    height: 120px;
                                }
                            }
                            
                            .submit-container{
                                justify-content: center;

                                button{
                                    width: 170px;
                                }

                                .validation-alert{
                                    width: 97%;
                                }
                            }
                        }
                        
                    }

                    .side-address{
                        width: 100%;

                        iframe{
                            height: 360px;
                        }

                        p{
                            font-size: 16px;
                        }
                    }
                }        
            }
        }
    }
}

@media (max-width: 548px){

    body{

        .main-content-box{

            .container:not(header .container, .benefits .container, .imgs-panel .container){
                max-width: 500px;
            }
        }
    }
}