@media (max-width: 820px){

    body{

        .main-content-box{

            .container:not(.benefits .container, .imgs-panel .container){
                max-width: 640px;
            }

            .about-us{

                .container{
                    padding-top: 120px;
                    background-position: center -20px;
                    background-size: 440px;

                    .side-images{
                        position: relative;
                        height: 330px;
                        margin-bottom: 90px;

                        img{
                            position: absolute;
                            height: 250px;
                            top: unset;
                            bottom: unset;
    
                            &:first-child{
                                top: 0;
                            }
    
                            &:last-child{
                                bottom: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }

            .delivery{

                .container{

                    .info{

                        .marmite-prices{

                            .marmite{

                                .type.p::after{
                                    content: '..............................................................................................................................';
                                }

                                .type.m::after{
                                    content: '.....................................................................................................................................';
                                }

                                .type.g::after{
                                    content: '..................................................................................................................................';
                                }

                                .type.kf::after{
                                    content: '...............................................................................................................';
                                }
                            }
                        }
                    }
                }
            }

            .contact{

                .container{

                    .side-form{

                        .form-container{
                            margin-top: 15px;
                            width: 260px;

                        }
                    }
    
                    .side-address{
                        width: 350px;

                        iframe{
                            height: 332px;
                        }

                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}