@keyframes pulsefade{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: .95;
        transform: scale(.95);
    }
}

@keyframes movearrow{
    from{
        transform: translateX(-0.2em);
        opacity: .4;
    }
    to{
        transform: translateX(0.2em);
        opacity: .9;
    }
}

@keyframes displayoff{
    to{
        height: 0;
        width: 0;
    }
}