body{

    .main-content-box{

        footer{
            padding: 70px 0 14px 0;

            .container{
                flex-wrap: wrap;

                p{
                    margin-bottom: 8px;
                    color: $palette-1;
                }
                
                .social{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: repeat(2, 50%);
                    grid-template-areas: 
                        "social-media-text email"
                        "icons email";
                    column-gap: 84px;

                    p{
                        grid-area: social-media-text;
                    }

                    .icons{
                        grid-area: icons;
                    }

                    .email{
                        grid-area: email;
                        align-self: center;
                    }
                    
                }
            }
        }
    }

}