body{

    .main-content-box{

        footer{
            padding: 70px 0 14px 0;
            background-color: $palette-2;

            .container{
                flex-wrap: wrap;
                align-items: start;
                justify-content: center;
                column-gap: 75px;
                row-gap: 33px;
                background-color: $palette-2;

                img{
                    width: 242px;
                    height: 114px;
                }

                p{
                    margin-bottom: 8px;
                    color: $palette-1;
                }
                
                .social{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: repeat(2, 50%);
                    grid-template-areas: 
                        "social-media-text email"
                        "icons email";
                    column-gap: 84px;

                    p{
                        grid-area: social-media-text;
                    }

                    .icons{
                        grid-area: icons;

                        a{
                    
                            i{
                                font-size: 1.7rem;
                            }
                        }

                        a:first-child{
                            margin-right: 16px;
                        }
                    }

                    .email{
                        grid-area: email;
                        align-self: center;
                    }
                    
                }

                .copyright{
                    flex: 1 1 100%;
                    text-align: center;
                }
            }
        }
    }

}