body{

    .main-content-box{

        footer{
            padding: 60px 0 6px 0;
            background-color: $palette-2;

            .container{
                flex-wrap: wrap;
                align-items: start;
                justify-content: center;
                column-gap: 120px;
                row-gap: 30px;
                background-color: $palette-2;
                font-size: 1.4rem;

                img{
                    width: 219px;
                    height: 86px;
                }

                p{
                    margin-bottom: 8px;
                    margin-top: -4px;
                    color: $palette-1;
                }
                
                .social{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: repeat(2, 50%);
                    grid-template-areas: 
                        "social-media-text email"
                        "icons email";
                    column-gap: 92px;

                    p{
                        grid-area: social-media-text;
                    }

                    .icons{
                        grid-area: icons;

                        a{

                            i{
                                padding-bottom: 3px;
                                font-size: 1.7rem;
                                color: $primary-text-color;
                                border-bottom: solid 1px;
                                border-color: transparent;
                                transition: ease-in-out .2s;

                                &:hover{
                                    border-color: $palette-1;
                                    color: #000000;
                                    
                                }
                            }

                            
                        }

                        a:first-child{
                            margin-right: 16px;
                        }
                    }

                    .email{
                        grid-area: email;
                        align-self: center;
                    }
                    
                }

                .copyright{
                    flex: 1 1 100%;
                    text-align: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

}