body{
    background-color: #f5f5f5;

    .main-content-box{

        height: 100%;
        margin: 0 auto;
        background-color: cadetblue;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: $container-max-width;
            margin: 0 auto;
            background-color: beige;
            font-size: 1.4rem;
        }

        section{
            scroll-margin-top: 120px;
        }
    }
}