body{
    

    .main-content-box{

        header{
            background-color: $palette-2;
            border-radius: 0px 0px 10px 10px;
            padding: 20px;
            position: fixed;
            width: 100vw;
            top:0;
            left: 0;
            z-index: 1;

            a{

                line-height: 0;

                img{
                    width: 124px;
                    height: 49px;
                }
                
            }

            .navigation{
                
                ul{
                    display: flex;
                    align-items: center;
                    column-gap: 44px;

                    a{
                        transition: ease-in-out .2s;

                        &:hover{
                            color: $palette-1;
                        }
                    }
                }

                .close-menu-btn{
                    display: none;
                }
            }

            .open-menu-btn{
                display: none;
            }
        }
    }
}