@media (max-width: 680px){
    
    body{

        .main-content-box{

            .container{
                max-width: 500px;
            }

            section, header{
                padding-inline: 20px;
            }

            .buffet{
                padding-block: 134px 32px;

                .container{

                    .imgs-gallery{
                        margin-bottom: 58px;
    
                        .our-buffet, .kit-feijoada{
                            height: 580px;
                            grid-template-rows: auto 220px 310px;
                            column-gap: 20px;

                            .frame.one{
    
                                .image.kf{
                                    background-size: 105%;
                                    background-position: 0 -5px;
                                }
                            }
            
                            .frame.two{
    
                                .image.bf{
                                    background-size: 170%;
                                    background-position: -160px -25px;
                                }
    
                                .image.kf{
                                    background-size: 125%;
                                    background-position: -40px -30px;
                                }
                            }
            
                            .frame.three{
    
                                .image.bf{
                                    background-position: center -30px;
                                }
    
                                .image.kf{
                                    background-size: 155%;
                                    background-position: -55px center;
                                }
                            }
                        }
            
                        .our-buffet{
                            grid-template-columns: minmax(auto, 220px) minmax(auto, 270px);
                            margin-bottom: 60px;

                            .frame.three{
                                margin-top: 40px;
                            }
                        }
    
                        .kit-feijoada{
                            grid-template-columns: minmax(auto, 280px) minmax(auto, 210px);

                            .frame.one{
                                margin-top: 40px;

                                &::after{
                                    font-size: 0.8rem;
                                }
                            }
                        }

                        .our-buffet .frame.three, .kit-feijoada .frame.one{
    
                            &::before{
                                font-size: 1.8rem;
                                width: 350px;
                            }
                        }
    
                        .title-box{

                            .section-title{
                                font-size: 2.8rem;
    
                                .underline-title{
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 548px){
    
    body{

        .main-content-box{

            .container{
                max-width: 460px;
            }

            .buffet{
                padding-block: 124px 32px;

                .container{

                    .imgs-gallery{
    
                        .our-buffet, .kit-feijoada{
                            height: 530px;
                            grid-template-rows: auto 200px 280px;

                            .frame.one{
    
                                .image.kf{
                                    background-position: 0 0;
                                }
                            }
            
                            .frame.two{
    
                                .image.bf{
                                    background-size: 180%;
                                    background-position: -170px -20px;
                                }
    
                                .image.kf{
                                    background-size: 130%;
                                    background-position: -42px -25px;
                                }
                            }

                            .frame.three{

                                .image.kf{
                                    background-position: -52px -15px;
                                }
                            }
                        }
            
                        .our-buffet{
                            grid-template-columns: minmax(auto, 200px) minmax(auto, 250px);
                        }
    
                        .kit-feijoada{
                            grid-template-columns: minmax(auto, 250px) minmax(auto, 200px);
                        }

                        .our-buffet .frame.three, .kit-feijoada .frame.one{
    
                            &::before{
                                font-size: 1.8rem;
                                width: 350px;
                            }
                        }
    
                        .title-box{

                            .section-title{
                                font-size: 2.5rem;
    
                                .underline-title{
                                    width: 13px;
                                    height: 13px;
                                }
                            }
                        }
                    }

                    .delivery-btn-links{
                        flex-direction: column;
                        align-items: center;

                        .whatsapp-container{
                            margin-right: 0;
                        }

                        .ifood-container{
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 498px){
    
    body{

        .main-content-box{

            .container{
                max-width: 425px;
            }

            .buffet{

                .container{

                    .imgs-gallery{
    
                        .our-buffet, .kit-feijoada{
                            height: 420px;
                            grid-template-rows: auto 160px 220px;

                            .frame.one{
    
                                .image.kf{
                                    background-size: 110%;
                                    background-position: -5px 0;
                                }
                            }
            
                            .frame.two{
    
                                .image.bf{
                                    background-size: 180%;
                                    background-position: -150px -30px;
                                }
    
                                .image.kf{
                                    background-size: 120%;
                                    background-position: -25px -22px;
                                }
                            }

                            .frame.three{

                                .image.kf{
                                    background-position: -45px -25px;
                                }
                            }
                        }
            
                        .our-buffet{
                            grid-template-columns: minmax(auto, 180px) minmax(auto, 225px);
                            margin-bottom: 50px;
                        }
    
                        .kit-feijoada{
                            grid-template-columns: minmax(auto, 225px) minmax(auto, 180px);
                        }

                        .our-buffet .frame.three, .kit-feijoada .frame.one{
    
                            &::before{
                                font-size: 1.6rem;
                                width: 310px;
                            }
                        }
    
                        .title-box{

                            .section-title{
                                font-size: 2.2rem;
    
                                .underline-title{
                                    width: 13px;
                                    height: 13px;
                                }
                            }
                        }
                    }

                    .delivery-btn-links{
                        flex-direction: column;
                        align-items: center;

                        .whatsapp-container{
                            margin-right: 0;
                        }

                        .ifood-container{
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 448px){
    
    body{

        .main-content-box{

            .container{
                max-width: 425px;
            }

            .buffet{
                padding-block: 144px 30px;

                .container{

                    .imgs-gallery{
                        width: 100%;
                        margin-bottom: 40px;

                        .our-buffet, .kit-feijoada{
                            grid-template-rows: auto 300px 240px 300px;
                            grid-template-columns: 1fr;
                            height: auto;
                            row-gap: 30px;

                            .frame.one{
    
    
                                .image.kf{
                                    background-size: 110%;
                                    background-position: -1vw -1vw;
                                }
                            }
            
                            .frame.two{
    
                                .image.bf{
                                    background-size: 150%;
                                    background-position: -40vw -30px;
                                }
    
                                .image.kf{
                                    background-size: 120%;
                                    background-position: -10vw 40%;
                                }
                            }

                            .frame.three{

                                .image.bf{
                                    background-size: 110%;
                                    background-position: 0vw center;
                                }
    
                                .image.kf{
                                    background-size: 130%;
                                    background-position: -14vw 60%
                                }
                            }
                        }
            
                        .our-buffet{
                            grid-template-areas: 
                                "title"
                                "img-1"
                                "img-3" 
                                "img-2";
                            margin-bottom: 55px;

                            .frame.three{
                                margin-top: 0px;

                                &::after{
                                    font-size: 0.8rem;
                                }
                            }
                        }
    
                        .kit-feijoada{
                            grid-template-areas: 
                                "title"
                                "img-2"
                                "img-1" 
                                "img-3";

                            .frame.one{
                                margin-top: 0;

                                &::after{
                                    right: unset;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    color: #e2e2e2;
                                    font-weight: 500;
                                    width: 100%;
                                }

                                &:hover::after{
                                    bottom: -1px;
                                    padding: 3px 2px 2px 2px;
                                    background-color: #ea1d2b;
                                }
                            }
                        }

                        .our-buffet .frame.three, .kit-feijoada .frame.one{
    
                            &::before{
                                font-size: 1.4rem;
                                width: 290px;
                            }
                        }
    
                        .title-box{

                            .section-title{
                                font-size: 3.5rem;
    
                                .underline-title{
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }

                    .delivery-btn-links{
                        flex-direction: column;
                        align-items: center;

                        .whatsapp-container{
                            margin-right: 0;
                        }

                        .ifood-container{
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}