body{
    
    .main-content-box{

        .back-to-top-btn{
            width: 38px;
            height: 40px;
            border: 1px solid $palette-1;
            border-radius: 10px;
            background: url(../../../../images/section-images/main/up-arrow.svg) no-repeat center;
            cursor: pointer;
            background-color: #ffffff;
        }

        .fixed-whatsapp-anchor{
            flex-direction: column;
            width: 145px;
            align-items: flex-end;
            display: none;
        }

        .rigth-bottom-btn{
            position: fixed;
            z-index: 1;
            bottom: 40px;
            right: 5%;
        }
    }   
}



