@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

html {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}
body .main-content-box {
  height: 100%;
  margin: 0 auto;
  background-color: cadetblue;
}
body .main-content-box .back-to-top-btn {
  width: 38px;
  height: 40px;
  border: 1px solid #ea1d2c;
  border-radius: 10px;
  background: url(../../../../images/section-images/main/up-arrow.svg) no-repeat center;
  cursor: pointer;
  background-color: #ffffff;
}
body .main-content-box .fixed-whatsapp-anchor {
  display: flex;
  flex-direction: column;
  width: 145px;
  align-items: flex-end;
  display: none;
}
body .main-content-box .rigth-bottom-btn {
  position: fixed;
  bottom: 40px;
  right: 5%;
}
body .main-content-box .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
  background-color: beige;
}
body .main-content-box section {
  scroll-margin-top: 120px;
}

body .main-content-box .primary-btn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 1.4rem;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
body .main-content-box .primary-btn p {
  font-weight: 600;
}
body .main-content-box .primary-btn p:first-child, body .main-content-box .primary-btn .icon:first-child {
  margin-right: 8px;
}
body .main-content-box .primary-btn.green {
  background-color: #22e85d;
  color: #52956e !important;
}
body .main-content-box .primary-btn.green:hover {
  background-color: #20d657;
  color: #3d6a50;
}
body .main-content-box .primary-btn.white {
  background-color: #ffffff;
  color: #333333;
}
body .main-content-box .primary-btn.white:hover {
  background-color: #f0f0f0;
  color: #4a4a4a;
}
body .main-content-box .primary-btn.red {
  background-color: #ea1d2c;
  color: #ffffff;
}
body .main-content-box .primary-btn.red:hover {
  background-color: #da1a27;
  color: #ffffff;
}
body .main-content-box .primary-btn.transparent {
  color: #ea1d2c;
  border: #ea1d2c solid 1px;
}
body .main-content-box .primary-btn.transparent:hover {
  background-color: #fdeaeb;
  border-color: #fdeaeb;
}
body .main-content-box .title-box .section-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 50px;
  color: #333333;
}
body .main-content-box .title-box .section-title.exception {
  line-height: 55px;
}
body .main-content-box .title-box .underline-title {
  width: 72px;
  height: 6px;
  background-color: #ea1d2c;
  border-radius: 10px;
}

body .main-content-box header {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}
body .main-content-box header .container {
  background-color: unset;
}
body .main-content-box header .navigation ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}
body .main-content-box header .navigation ul a {
  transition: ease-in-out 0.2s;
  font-size: 1.4rem;
}
body .main-content-box header .navigation ul a:hover {
  color: #ea1d2c;
}
body .main-content-box header .navigation .close-menu-btn {
  display: none;
}
body .main-content-box header .open-menu-btn {
  display: none;
}/*# sourceMappingURL=buffet-style.css.map */