@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

html {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@keyframes pulsefade {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.95;
    transform: scale(0.95);
  }
}
@keyframes movearrow {
  from {
    transform: translateX(-0.2em);
    opacity: 0.4;
  }
  to {
    transform: translateX(0.2em);
    opacity: 0.9;
  }
}
@keyframes displayoff {
  to {
    height: 0;
    width: 0;
  }
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ea1d2c;
  border-radius: 10px;
}
body .main-content-box {
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;
}
body .main-content-box .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.4rem;
  position: relative;
}
body .main-content-box section {
  scroll-margin-top: 120px;
  background-color: #ffffff;
}

body .main-content-box .primary-btn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 1.4rem;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
body .main-content-box .primary-btn p {
  font-weight: 600;
}
body .main-content-box .primary-btn p:first-child, body .main-content-box .primary-btn .icon:first-child {
  margin-right: 8px;
}
body .main-content-box .primary-btn.green {
  background-color: #22e85d;
  color: #3f7154;
}
body .main-content-box .primary-btn.green:hover {
  background-color: #20d657;
  color: #3d6a50;
}
body .main-content-box .primary-btn.white {
  background-color: #ffffff;
  color: #333333;
}
body .main-content-box .primary-btn.white:hover {
  background-color: #efeded;
  color: #4a4a4a;
}
body .main-content-box .primary-btn.red {
  background-color: #ea1d2c;
  color: #ffffff;
}
body .main-content-box .primary-btn.red:hover {
  background-color: #cf1925;
  color: #ffffff;
}
body .main-content-box .primary-btn.transparent {
  color: #ea1d2c;
  border: #ea1d2c solid 1px;
}
body .main-content-box .primary-btn.transparent:hover {
  background-color: #ffe9ea;
  border-color: #ffe9ea;
}
body .main-content-box .delivery-btn-links {
  display: flex;
}
body .main-content-box .delivery-btn-links div {
  text-align: center;
}
body .main-content-box .delivery-btn-links .whatsapp-container {
  margin-right: 24px;
}
body .main-content-box .delivery-btn-links .ifood-container .ifood-logo {
  width: 30px;
  height: 16px;
  margin-bottom: -2px;
}
body .main-content-box .delivery-btn-links span {
  margin-top: 5px;
  color: #acacac;
  font-size: 0.9rem;
}
body .main-content-box .title-box .section-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 50px;
  color: #333333;
  margin-top: -10px;
}
body .main-content-box .title-box .section-title.exception {
  line-height: 55px;
}
body .main-content-box .title-box .underline-title {
  width: 72px;
  height: 6px;
  background-color: #ea1d2c;
  border-radius: 10px;
}

body .main-content-box header {
  background-color: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}
body .main-content-box header .sandigo-logo img {
  width: 124px;
  height: 49px;
  margin-bottom: -6px;
}
body .main-content-box header .navigation ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}
body .main-content-box header .navigation ul .item {
  cursor: pointer;
}
body .main-content-box header .navigation ul .item a {
  transition: ease-in-out 0.2s;
}
body .main-content-box header .navigation ul .item a:hover {
  color: #ea1d2c;
}
body .main-content-box header .navigation .close-menu-btn {
  display: none;
}
body .main-content-box header .open-menu-btn {
  display: none;
}

body .main-content-box footer {
  padding: 60px 0 6px 0;
  background-color: #ffffff;
}
body .main-content-box footer .container {
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 30px;
  background-color: #ffffff;
}
body .main-content-box footer .container img {
  width: 219px;
  height: 86px;
}
body .main-content-box footer .container p {
  margin-bottom: 8px;
  margin-top: -4px;
  color: #ea1d2c;
}
body .main-content-box footer .container .social {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "social-media-text email" "icons email";
  -moz-column-gap: 92px;
       column-gap: 92px;
}
body .main-content-box footer .container .social p {
  grid-area: social-media-text;
}
body .main-content-box footer .container .social .icons {
  grid-area: icons;
}
body .main-content-box footer .container .social .icons a i {
  padding-bottom: 3px;
  font-size: 1.7rem;
  color: #333333;
  border-bottom: solid 1px;
  border-color: transparent;
  transition: ease-in-out 0.2s;
}
body .main-content-box footer .container .social .icons a i:hover {
  border-color: #ea1d2c;
  color: #000000;
}
body .main-content-box footer .container .social .icons a:first-child {
  margin-right: 16px;
}
body .main-content-box footer .container .social .email {
  grid-area: email;
  align-self: center;
}
body .main-content-box footer .container .copyright {
  flex: 1 1 100%;
  text-align: center;
  font-size: 1.3rem;
}

body .main-content-box .back-to-top-btn {
  width: 38px;
  height: 40px;
  border: 1px solid #ea1d2c;
  border-radius: 10px;
  background: url(../../../../images/section-images/main/up-arrow.svg) no-repeat center;
  cursor: pointer;
  background-color: #ffffff;
  bottom: -40px;
  transition: ease-out 0.2s;
}
body .main-content-box .back-to-top-btn.active {
  bottom: 40px;
  transition: ease-in 0.2s;
}
body .main-content-box .fixed-whatsapp-anchor {
  flex-direction: column;
  width: 145px;
  align-items: flex-end;
  display: none;
}
body .main-content-box .fixed-whatsapp-anchor.active {
  width: -moz-fit-content;
  width: fit-content;
}
body .main-content-box .fixed-whatsapp-anchor.active .message {
  transition: ease-out 0.2s;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(15px);
  animation: displayoff forwards;
  animation-delay: 0.3s;
}
body .main-content-box .fixed-whatsapp-anchor.active .whatsapp-img {
  animation: pulsefade 0.6s infinite alternate ease-in-out;
}
body .main-content-box .fixed-whatsapp-anchor > .message {
  margin-bottom: 10px;
  transition: ease-in 0.2s;
}
body .main-content-box .rigth-bottom-btn {
  position: fixed;
  z-index: 2;
  right: 2.5%;
}

body {
  background-color: #1c1919;
}
body .main-content-box {
  max-width: unset;
}
body .main-content-box .back-to-top-btn {
  background-color: #373737;
  border-color: #ff333c;
}
body .main-content-box header {
  background-color: #373737;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
}
body .main-content-box header .navigation ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}
body .main-content-box header .navigation ul a {
  transition: ease-in-out 0.2s;
  color: #dcd8d8;
}
body .main-content-box header .navigation ul a:hover {
  color: #ff333c;
}
body .main-content-box header .navigation ul a[target=_self] {
  display: flex;
  align-items: center;
}
body .main-content-box header .navigation ul a[target=_self] i {
  transform: scaleX(-1);
  margin-right: 6px;
  font-size: 16px;
}
body .main-content-box header .navigation ul a[target=_self]:hover i {
  margin-right: 7px;
}
body .main-content-box header .navigation ul a.primary-btn.green {
  background-color: #36f46f;
  color: #376d4e;
}
body .main-content-box header .navigation ul a.primary-btn.green:hover {
  background-color: #20d657;
  color: #3d6a50;
}
body .main-content-box footer {
  background-color: #373737;
}
body .main-content-box footer .container {
  background-color: #373737;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 30px;
}
body .main-content-box footer .container p {
  color: #ff333c;
}
body .main-content-box footer .container span {
  color: #dcd8d8;
}
body .main-content-box footer .container .social .icons a i {
  color: #dcd8d8;
}
body .main-content-box footer .container .social .icons a i:hover {
  border-color: #ff333c;
  color: #ffffff;
}

body .main-content-box header .navigation ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}
body .main-content-box header .navigation ul a {
  transition: ease-in-out 0.2s;
  color: #dcd8d8;
}
body .main-content-box header .navigation ul a:hover {
  color: #ff333c;
}
body .main-content-box header .navigation ul a[target=_self] {
  display: flex;
  align-items: center;
}
body .main-content-box header .navigation ul a[target=_self] i {
  transform: scaleX(-1);
  margin-right: 6px;
  font-size: 16px;
}
body .main-content-box header .navigation ul a[target=_self]:hover i {
  margin-right: 7px;
}
body .main-content-box header .navigation ul a.primary-btn.green {
  background-color: #36f46f;
  color: #376d4e;
}
body .main-content-box header .navigation ul a.primary-btn.green:hover {
  background-color: #20d657;
  color: #3d6a50;
}
body .main-content-box .buffet {
  background-color: #1c1919;
  padding-block: 134px 42px;
}
body .main-content-box .buffet .container {
  display: flex;
  flex-direction: column;
}
body .main-content-box .buffet .container .imgs-gallery {
  margin-bottom: 48px;
}
body .main-content-box .buffet .container .imgs-gallery:hover .frame:not(:hover) .image {
  filter: brightness(60%);
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
  height: 337px;
  display: grid;
  grid-template-rows: auto 271px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  justify-items: center;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame {
  height: 100%;
  width: 100%;
  transition: ease 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame:hover, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame:hover {
  transform: scale(1.02);
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame:hover .image, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame:hover .image {
  transform: scale(1.025);
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame .image, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame .image {
  transition: ease-in-out 0.3s;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one {
  grid-area: img-1;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.bf {
  background-image: url("../../../../images/section-images/buffet/buffet-1.jpg");
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.one .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image.kf {
  background-image: url("../../../../images/section-images/buffet/kitf-1.jpg");
  background-position: -10px;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two {
  grid-area: img-2;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.bf {
  background-image: url("../../../../images/section-images/buffet/buffet-2.jpg");
  background-size: 180%;
  background-position: -230px -60px;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.two .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.two .image.kf {
  background-image: url("../../../../images/section-images/buffet/kitf-2.jpg");
  background-size: 130%;
  background-position: -55px -40px;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three {
  grid-area: img-3;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.bf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.bf {
  background-image: url("../../../../images/section-images/buffet/buffet-3.jpg");
  background-size: 120%;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image.kf, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.three .image.kf {
  background-image: url("../../../../images/section-images/buffet/kitf-3.jpg");
  background-size: 150%;
  background-position: -72px center;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet {
  grid-template-columns: minmax(auto, 267px) minmax(auto, 329px) minmax(auto, 442px);
  grid-template-areas: "title img-2 img-3" "img-1 img-2 img-3";
  margin-bottom: 30px;
  position: relative;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before {
  content: "Seu Prato Feito por apenas R$ 19,00 e Buffe Livre a partir de R$ 24,50";
  width: 340px;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .bar {
  right: -30px;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three:hover ~ .bar {
  height: 85%;
}
body .main-content-box .buffet .container .imgs-gallery .kit-feijoada {
  grid-template-columns: minmax(auto, 442px) minmax(auto, 329px) minmax(auto, 267px);
  grid-template-areas: "img-1 img-2 title" "img-1 img-2 img-3";
  position: relative;
}
body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
  content: "A escolha perfeita para uma refeição completa a partir de R$ 105,00";
  width: 362px;
}
body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::after {
  content: "Disponível às Quartas-Feiras e Sábados";
  position: absolute;
  font-weight: 600;
  font-size: 0.8rem;
  color: #515151;
  right: 12px;
  bottom: 6px;
  transition: ease 0.2s;
  text-align: center;
  z-index: 1;
}
body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .bar {
  left: -30px;
}
body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one:hover ~ .bar {
  height: 85%;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three .image, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one .image {
  filter: brightness(60%);
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one::before {
  position: absolute;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease 0.3s;
  text-align: center;
  z-index: 1;
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three:hover .image, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one:hover .image {
  filter: brightness(100%);
}
body .main-content-box .buffet .container .imgs-gallery .our-buffet .frame.three:hover::before, body .main-content-box .buffet .container .imgs-gallery .kit-feijoada .frame.one:hover::before {
  top: 115%;
}
body .main-content-box .buffet .container .imgs-gallery .title-box {
  grid-area: title;
  align-items: center;
}
body .main-content-box .buffet .container .imgs-gallery .title-box .section-title {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 35px;
  color: #ffffff;
}
body .main-content-box .buffet .container .imgs-gallery .title-box .section-title .underline-title {
  width: 18px;
  height: 18px;
  border-radius: unset;
  margin-right: 12px;
}
body .main-content-box .buffet .container .imgs-gallery .bar {
  content: "";
  width: 120px;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ea1d2c;
  opacity: 0.9;
  position: absolute;
  z-index: 0;
  transition: ease 0.3s;
}
body .main-content-box .buffet .container .delivery-btn-links .ifood-container .primary-btn:hover {
  background-color: #dcd8d8;
  border-color: #dcd8d8;
}/*# sourceMappingURL=buffet-style.css.map */