body{
    
    .main-content-box{

        header{
            
            .navigation{
                
                ul{
                    display: flex;
                    align-items: center;
                    column-gap: 44px;

                    a{
                        transition: ease-in-out .2s;
                        color: $secondary-text-color;

                        &:hover{
                            color: #ff333c;
                        }

                        &[target="_self"]{
                            display: flex;
                            align-items: center;
                            
                            i{
                                transform: scaleX(-1);
                                margin-right: 6px;
                                font-size: 16px;
                                
                            }

                            &:hover{
                                
                                i{
                                    margin-right: 7px;
                                }
                            }
                        }

                        &.primary-btn.green{
                            background-color: #36f46f;
                            color: #376d4e;

                            &:hover{
                                background-color: #20d657;
                                color: #3d6a50;
                            }
                        }
                    } 
                }
            }

        }
        
        .buffet{
            background-color: $dark-bg-1;
            padding-block: 134px 42px;

            .container{
                display: flex;
                flex-direction: column;

                .imgs-gallery{
                    margin-bottom: 48px;

                    &:hover .frame:not(:hover) .image{
                        filter: brightness(60%);  
                    }

                    .our-buffet, .kit-feijoada{
                        height: 337px;
                        display: grid;
                        grid-template-rows: auto 271px;
                        column-gap: 30px;
                        align-items: center;
                        justify-items: center;

                        .frame{
                            height: 100%;
                            width: 100%;
                            transition: ease .3s;
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                            border-radius: 8px;

                            &:hover{
                                transform: scale(1.02);

                                .image{
                                    transform: scale(1.025);
                                }
                            }

                            .image{
                                transition: ease-in-out .3s;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                                width: 100%;
                            }
                        }

                        .frame.one{
                            grid-area: img-1;

                            .image.bf{
                                background-image: url('../../../../images/section-images/buffet/buffet-1.jpg');
                                
                            }

                            .image.kf{
                                background-image: url('../../../../images/section-images/buffet/kitf-1.jpg');
                                background-position: -10px;
                            }
                        }
        
                        .frame.two{
                            grid-area: img-2;  

                            .image.bf{
                                background-image: url('../../../../images/section-images/buffet/buffet-2.jpg');
                                background-size: 180%;
                                background-position: -230px -60px;
                            }

                            .image.kf{
                                background-image: url('../../../../images/section-images/buffet/kitf-2.jpg');
                                background-size: 150%;
                                background-position: -85px -45px;
                            }
                        }
        
                        .frame.three{
                            grid-area: img-3;

                            .image.bf{
                                background-image: url('../../../../images/section-images/buffet/buffet-3.jpg');
                                background-size: 120%;
                            }

                            .image.kf{
                                background-image: url('../../../../images/section-images/buffet/kitf-3.jpg');
                                background-size: 145%;
                                background-position: -65px center;
                            }
                        }
                    }
        
                    .our-buffet{
                        grid-template-columns: minmax(auto, 267px) minmax(auto, 329px) minmax(auto,442px);
                        grid-template-areas: 
                            "title img-2 img-3"
                            "img-1 img-2 img-3";
                        margin-bottom: 30px;
                        position: relative;

                        .frame.three::before{
                            content: 'Seu Prato Feito por apenas R$ 19,00 e Buffe Livre a partir de R$ 24,90';
                            width: 340px;
                        } 

                        .bar{
                            right: -30px; 
                        }

                        .frame.three:hover ~ .bar{
                            height: 85%;
                        }
                    }

                    .kit-feijoada{
                        grid-template-columns: minmax(auto, 442px) minmax(auto, 329px) minmax(auto, 267px);
                        grid-template-areas: 
                            "img-1 img-2 title"
                            "img-1 img-2 img-3";
                        position: relative;

                        .frame.one::before{
                            content: 'A escolha perfeita para uma refeição completa a partir de R$ 105,00';
                            width: 362px; 
                        }

                        .frame.one::after{
                            content: 'Disponível às Quartas-Feiras e Sábados';
                            position: absolute;
                            font-weight: 600;
                            font-size: .8rem;
                            color: #515151;
                            right: 12px;
                            bottom: 6px;    
                            transition: ease .2s;
                            text-align: center;
                            z-index: 1;
                        }

                        .bar{
                            left: -30px;
                        }
                        
                        .frame.one:hover ~ .bar{
                            
                            height: 85%;
                        }
                    }

                    .our-buffet .frame.three, .kit-feijoada .frame.one{
                            
                        .image{
                            filter: brightness(60%);
                        }

                        &::before{
                            position: absolute;
                            font-weight: 600;
                            font-size: 1.8rem;
                            color: $palette-2;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transition: ease .3s;
                            text-align: center;
                            z-index: 1;
                        }

                        &:hover{
                            
                            .image{
                                filter: brightness(100%);
                            }
                            
                            &::before{
                                top: 115%;
                            }

                        }
                    }

                    .title-box{
                        grid-area: title;
                        align-items: center;

                        .section-title{
                            display: flex;
                            align-items: center;
                            flex-direction: row-reverse;
                            font-size: 35px;
                            color: $palette-2;

                            .underline-title{
                                width: 18px;
                                height: 18px;
                                border-radius: unset;
                                margin-right: 12px;
                            }
                        }

                    }

                    .bar{
                        content: '';
                        width: 120px;
                        height: 80%;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $palette-1;
                        opacity: .9;
                        position: absolute;
                        z-index: 0;
                        transition: ease .3s;
                    }
                }

                .delivery-btn-links{

                    .ifood-container{

                        .primary-btn:hover{
                            background-color: $secondary-text-color;
                            border-color: $secondary-text-color
                        }
                    }
                }

            }
        }
    }
}